BOT_TOKEN=your_bot_token_here
GUILD_ID=0
STAFF_ROLE_ID=0
TOS_AGREED_ROLE_ID=0
COMMISSIONS_OPEN_ROLE_ID=0
PLEASE_VOUCH_ROLE_ID=0
TICKET_CATEGORY_ID=0
NOTED_CATEGORY_ID=0
PROCESSING_CATEGORY_ID=0
DONE_CATEGORY_ID=0
QUEUE_CHANNEL_ID=0
SHOP_STATUS_CHANNEL_ID=0
TRANSCRIPT_CHANNEL_ID=0
VOUCHES_CHANNEL_ID=0
ORDER_NOTIFS_CHANNEL_ID=0
START_HERE_CHANNEL_ID=0
TOS_CHANNEL_ID=0
PAYMENT_CHANNEL_ID=0
WARN_LOG_CHANNEL_ID=0
GCASH_DETAILS=Name: Example | Number: 0000
PAYPAL_LINK=https://paypal.me/example
KOFI_LINK=https://ko-fi.com/example
GCASH_QR_URL=https://example.com/gcash.png
PAYPAL_QR_URL=https://example.com/paypal.png
